.git
.github
.turbo
.vscode
.zed
node_modules
apps/*/node_modules
apps/*/.svelte-kit
apps/*/build
coverage
.DS_Store
.env
.env.*
apps/*/.env
apps/*/.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
